*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", serif;
    font-optical-sizing: auto;
}
  .navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
  
  }.navbar__s1__title{
    color: #A435F0;
  }
  .navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 40%;
    display: flex;
    gap:10px;
    align-items: center;
  
  }
  .navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 15px;
    background-color: transparent ;
    
  }
  .navbar__s2 input:focus{
    outline: none;
  }
  .navbar__s3{
    display: flex;
    gap: 20px;
  }
  .mylearning{
    position: relative;
    cursor: pointer;
  }
  .mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
  }
  .mylearning:hover .mylearning__popup{
    display: block;
  }
.categories{
  display: flex;
  padding: 10px;
  border-bottom: solid black 1px;
  justify-content: space-around;
  border-bottom: 1px black solid;
}
.categories p{
  background: #A435F0;
  color: white;
  padding:10px;
  border-radius: 30px;
  border: solid 1px black;  

}
.categories p:hover{
transition: 1s;
background-color: transparent;
color: #A435F0;
border: solid 1px black;
}
#sale__images  {

  position: relative;
  
}
#sale__images img{
  width: 100%;
}
.sale__images__offer{
  position: absolute;
  width: 500px;
  background-color: wheat;
  color: black;
  top: 100px;
  left: 100px;
  padding: 10px;
  border-radius: 8px;
  border: black 2px solid;
  animation-name: zoom;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  0%{
    transform:scale(0) ;
    opacity: 0;

  }
  100%{transform: scale(1);
  opacity: 1;}
  
}
.courses{
  padding: 10px;
  
}


.courses__names{
  width: 250px;
}
.courses__names img{
  width: 100%;
  height: 70%;
}
.courses__container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}
.topics{
  padding: 10px;
}
.topics__container{
  display: flex;
  gap: 10px;
  margin-top:10px;
  flex-wrap: wrap;
}
.topics__container p{
  border: grey solid 2px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;}
  
.popular{
  padding: 10px;
  

}
.popular__container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between
  
}
.footer{
  padding: 30px;
  background-color: black;
  color: white;
}
.footer__one{
  display: flex;
  gap: 10px;
 
}
.footer__one p{
  margin: 20px;
}
.footer__two{
  display: flex;
  margin: 20px;
  justify-content: space-between; align-items: center;
}
